.missions-page-container {
  width: 85%;
  margin: 3rem auto;
  color: hsl(0deg 0% 30%);
}

.missions-page-container table {
  font-size: 1.25rem;
  text-align: left;
  border: 1px solid hsl(0deg 0% 85%);
  border-collapse: collapse;
}

.missions-page-container table tr:nth-child(even) {
  background-color: hsl(0deg 0% 95%);
}

.missions-page-container table th,
.missions-page-container table td {
  padding: 0.5rem;
  border: 1px solid hsl(0deg 0% 85%);
}

.missions-page-container table tr th {
  vertical-align: top;
}

